@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff 0%, #ccffff 100%);
}

.cursor 
{
    &-pointer 
    {
        cursor: pointer;
    }
}